@using EntityLayer.Concrete
@model List<Message>

<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Mesajlar</h4>
                <a href="/Contact/Index/">
                    <p class="text-muted mb-1 small">Hepsini Göster</p>
                </a>
            </div>
            <div class="preview-list">
                @foreach (var item in Model)
                {
                    <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                            <img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/faces-clipart/pic-4.png" alt="image" class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                    <h6 class="preview-subject">@item.Name</h6>
                                    <p class="text-muted text-small">@DateTime.Parse(item.Date.ToString()).ToString("dd/MM/yyyy")</p>
                                </div>
                                <p class="text-muted">@item.Content.Substring(0,30)</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
