@using EntityLayer.Concrete
@model List<Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hizmetler</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Hizmet ID </th>
                            <th> Başlık </th>
                            <th> Sil </th>
                            <th> Düzenle </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <th> @item.ServiceID </th>
                                <td>
                               @item.Title
                                </td>
                                <td>
                                    <a href="/Service/DeleteService/@item.ServiceID" class="btn btn-outline-danger btn-icon-text" onclick="return confirm('Silmek istediğinize emin misiniz?');">
                                        <i class="mdi mdi-alert btn-icon-prepend"></i> Sil
                                    </a>
                                </td>

                                <td>
                                    <a href="/Service/UpdateService/@item.ServiceID" class="btn btn-outline-success btn-icon-text">
                                        <i class="mdi mdi-upload btn-icon-prepend"></i> Düzenle
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

                <br />
                <a href="/Service/AddService/" class="btn btn-outline-primary btn-icon-text">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Yeni Hizmet Ekle
                </a>

            </div>
        </div>
    </div>
</div>



@*<div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="sort" data-sort="name">#</th>
                    <th scope="col" class="sort" data-sort="budget">Başlık</th>
                    <th scope="col">Sil</th>
                    <th scope="col" class="sort" data-sort="status">Düzenle</th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var s in Model)
            {
                <tr>

                    <th>
                        @s.ServiceID
                    </th>

                    <th>
                        @s.Title
                    </th>

                    <td>
                        <a href="/Service/DeleteService/@s.ServiceID" class="btn btn-outline-danger"  ><i class="fas fa-trash"></i>&nbsp; Sil</a>
                    </td>

                    <td>
                        <a href="/Service/UpdateService/@s.ServiceID" class="btn btn-outline-success"><i class="fas fa-edit"></i>&nbsp; Düzenle</a>
                    </td>

                </tr>
            }
            </tbody>
        </table>

        <a href="/Service/AddService/" class="btn btn-primary m-3"><i class="fas fa-plus-circle"></i>&nbsp; Yeni Hizmet Ekle</a>
    </div>*@

