.alert {
    padding: 20px;
    background-color: #ff1616;
    color: white;
    border-radius: 15px;
}

.alert-success {
    background-color: #00e676;
    color: white;
    border-radius: 15px;
    padding: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }
