@using EntityLayer.Concrete
@model List<Message>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">İletişim Kutusu</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Gönderen </th>
                            <th> Tarih </th>
                            <th> Sil </th>
                            <th> Mesajı Gör </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>



                                <td class="py-1">
                                    @item.MessageID
                                </td>
                                <td> @item.Name </td>
                                <td> @DateTime.Parse(item.Date.ToString()).ToString("dd/MM/yyyy") </td>
                                <td>
                                    <a href="/Contact/DeleteContactMessage/@item.MessageID" class="btn btn-outline-danger btn-icon-text">
                                        <i class="mdi mdi-alert btn-icon-prepend"></i> Sil
                                    </a>
                                </td>

                                <td>
                                    <a href="/Contact/ShowContactMessage/@item.MessageID" class="btn btn-outline-success btn-icon-text">
                                        <i class="mdi mdi-upload btn-icon-prepend"></i> Mesajı Gör
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

