@model Asp_Core_Proje.Areas.Writer.Models.AddRefrence

@{
    ViewData["Title"] = "Referans Ekleme Sayfası";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Referans Ekle</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Ad Soyad</label>
                    <input type="text" class="form-control" asp-for="NameSurname" placeholder="Ad soyad">
                    <span asp-validation-for="NameSurname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Unvan / Şirket</label>
                    <input type="text" asp-for="company" class="form-control" placeholder="Unvan / Şirket">
                    <span asp-validation-for="company" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Resim Seç</label>
                    <input type="file" asp-for="Image" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Fotoğraf seç">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Yükle</button>
                        </span>
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Yorum</label>
                    <textarea type="text" asp-for="comment" class="form-control" placeholder="yorumunuz..." rows="7"></textarea>
                    <span asp-validation-for="comment" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Ekle</button>
                <a class="btn btn-light" href="/Writer/Dashboard/Index/">İptal</a>
            </form>
        </div>
    </div>
</div>

