@model Asp_Core_Proje.Areas.Writer.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kullanıcı Profili</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>İsim</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Name" placeholder="İsim">
                </div>
                <div class="form-group">
                    <label>Soyisim</label>
                    <span asp-validation-for="Surname" class="text-danger"></span>
                    <input type="text" asp-for="Surname" class="form-control" placeholder="Soyisim">
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input type="password" name="Password" class="form-control" placeholder="Şifre" required>
                </div>
                <div class="form-group">
                    <label>Şifre Tekrar</label>
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    <input type="password" name="PasswordConfirm" class="form-control" placeholder="Şifre tekrar" required>
                </div>
                <div class="form-group">
                    <label>Resim Seç</label>
                    <input type="file" asp-for="Picture" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Yükle</button>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <a class="btn btn-light" href="/Writer/Dashboard/Index/">İptal</a>
            </form>
        </div>
    </div>
</div>