

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Refrence/RefrenceAdd/">
                <i class="ti-pencil menu-icon"></i>
                <span class="menu-title">Referans Yaz</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/Index/">
                <i class="ti-notepad menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendBox/">
                <i class="ti-agenda menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage/">
                <i class="ti-write menu-icon"></i>
                <span class="menu-title">Yeni Mesaj</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index/">
                <i class="icon-bell menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut/">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>

    </ul>
</nav>
