@model EntityLayer.Concrete.WriterMessage 
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<h1>Yeni Mesaj Gönder</h1>
<br /><br />
<form class="form-group" method="post">
    <label>Konu</label>
    <br />
    @Html.TextBoxFor(a => a.Subject, new { @class = "form-control", required="required" })
    <br />
    <br />
    <label>Alıcı Mail</label>
    @Html.TextBoxFor(a => a.Receiver, new { @class = "form-control", required = "required" })
    <br />
    <br />
    <label>İçerik</label>
    <br />
    @Html.TextAreaFor(a => a.MessageContent, new { @class = "form-control", rows = "10", required = "required" })
    <br />
    <button class="btn btn-outline-info" type="submit">Gönder</button>
</form>