@using EntityLayer.Concrete
@model List<Announcement>


    <li class="nav-item dropdown border-left">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="mdi mdi-bell"></i>
            <span class="count bg-danger"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
            <h6 class="p-3 mb-0">Bildirimler</h6>
            <div class="dropdown-divider"></div>
            @foreach (var item in Model)
            {
                <a class="dropdown-item preview-item" href="/AdminAnnouncement/Index/@item.ID">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-calendar text-success"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject mb-1">@item.Title</p>
                        <p class="text-muted ellipsis mb-0"> @DateTime.Parse(item.Date.ToString()).ToString("dd/MM/yyyy") </p>
                    </div>
                </a>
            }


            <div class="dropdown-divider"></div>
            @*<p class="p-3 mb-0 text-center"><a href="#" style="text-decoration:none">Tüm bildirimleri gör</a></p>*@
        </div>
    </li>
