@using EntityLayer.Concrete
@model List<Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6 mb-4">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-primary">Verileri Getir</button>
        <button type="button" id="btnadd" class="btn btn-outline-success">Kaydet</button>
        <button type="button" id="btnid" class="btn btn-outline-warning">ID ile Getir</button>
        <button type="button" id="btndeletebyid" class="btn btn-outline-danger">Sil</button>
    </div>
</div>

<div class="col-md-12" id="listexperience" style="margin-bottom:20px">

</div>

<div class="col-md-12" id="listexperiencebyid" style="margin-bottom:20px">

</div>


<div class="col-md-11">
    <h5>Deneyim Ekleme Paneli</h5>
    <input type="text" class="form-control" id="inpName" placeholder="Ad" required />
    <br />
    <input type="text" class="form-control" id="inpDate" placeholder="Tarih" required />
</div>

<div class="col-md-11" style="margin-top:20px">
    <h5>Id'ye bağlı deneyim getirme</h5>
    <input type="text" class="form-control" id="inpID" placeholder="ID Giriniz" />
</div>

<div class="col-md-11" style="margin-top:20px">
    <h5>Id'ye bağlı silme</h5>
    <input type="text" class="form-control" id="inpexpID" placeholder="ID Giriniz" />
</div>

@section Scripts{
    <script>
        $("#btngetlistall").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Experience2/ListExperience/",

                success: function (my_func) {
                    let values = jQuery.parseJSON(my_func);
                    console.log(values);

                    let htmlst = "<table class=table table-bordered> <tr> <th> ID </th> <th> Başlık </th> <th> Tarih </th> </tr>"

                    $.each(values, (index, value) => {
                        htmlst += `<tr> <td>${value.ExperienceID}</td> <td>${value.Name}</td> <td>${value.Date}</td></tr>`
                    });
                    htmlst += "</table>";
                    $("#listexperience").html(htmlst);
                }
            });
        });

        $("#btnadd").click(function () {
            let values = {
                Name: $("#inpName").val(),
                Date: $("#inpDate").val()
            };

            $.ajax({
                type: "Post",
                url: "/Experience2/AddExperience/",
                data: values,
                success: function (my_func1) {
                    let result = jQuery.parseJSON(my_func1);
                    alert(result.Name + " başarılı bir şekilde eklendi");
                }
            });
        });

        $("#btnid").click(y => {
            let id = $("#inpID").val();

            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Experience2/GetExperience/",
                data: { ExperienceID: id },
                success: function (my_func2) {
                    let value = jQuery.parseJSON(my_func2);
                    console.log(value);

                    let htmlst = "<table class=table table-striped> <tr> <th>ID</th> <th>Başlık</th> <th>Tarih</th> </tr>"

                    htmlst += `<tr> <td>${value.ExperienceID}</td> <td>${value.Name}</td> <td>${value.Date}</td> </tr> 
                    </table>`

                    $("#listexperiencebyid").html(htmlst);
                }
            });
        });

        $("#btndeletebyid").click(k => {
            let id = $("#inpexpID").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "post",
                url: "/Experience2/DeleteExperience/",
                data: { ExperienceID: id },
                success: function (my_func3) {
                    let result = jQuery.parseJSON(my_func1);
                    alert(result.Name + " başarılı bir şekilde silindi");
                }
            })
        })

    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>

