

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="/Dashboard/Index/"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="/Dashboard/Index/"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">

        @await Component.InvokeAsync("NewNavigationAdminProfile")

        <li class="nav-item nav-category">
            <span class="nav-link">Navigasyon</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Dashboard/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Skill/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">Yetenekler</span>
            </a>

        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Experience/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Deneyimler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Default/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-table-large"></i>
                </span>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Service/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-format-list-bulleted"></i>
                </span>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Portfolio/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-github-circle"></i>
                </span>
                <span class="menu-title">Projeler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Contact/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-phone"></i>
                </span>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/SubContact/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-account-card-details"></i>
                </span>
                <span class="menu-title">İletişim Bilgileri</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/About/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-account"></i>
                </span>
                <span class="menu-title">Hakkımda</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/SocialMedia/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-youtube"></i>
                </span>
                <span class="menu-title">Sosyal Medya</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="#ui-basic" data-toggle="collapse" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="mdi mdi-message"></i>
                </span>
                <span class="menu-title">Yazar Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/AdminMessage/ReceiverMessageList/">Gelen Kutusu</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/AdminMessage/SenderMessageList/">Giden Kutusu</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/AdminMessage/NewMessage/">Yeni Mesaj</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Testimonial/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-contacts"></i>
                </span>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Feature/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-contacts"></i>
                </span>
                <span class="menu-title">Öne Çıkan Gönderiler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/WriterUser/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-account-multiple"></i>
                </span>
                <span class="menu-title">Yazarlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Experience2/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-access-point-network"></i>
                </span>
                <span class="menu-title">Deneyim Ajax</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminSettings/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-security"></i>
                </span>
                <span class="menu-title">Şifre ve Güvenlik</span>
            </a>
        </li>
    </ul>
</nav>