@model EntityLayer.Concrete.SocialMedia

@{
    ViewData["Title"] = "EditSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yetenek Düzenle</h4>
            @using (Html.BeginForm("EditSocialMedia", "SocialMedia", FormMethod.Post))
            {
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(s => s.SocialMediaID)
                        <label class="form-control-label">Başlık</label>
                        @Html.TextBoxFor(s => s.Name, new { @class = "form-control", required = "required", placeholder = "Başlık" })
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Link</label>
                        @Html.TextBoxFor(s => s.Url, new { @class = "form-control", required = "required", placeholder = "Link" })
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">İkon</label>
                        @Html.TextBoxFor(s => s.Icon, new { @class = "form-control", required = "required", placeholder = "İkon" })
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline-success btn-icon-text">
                        <i class="mdi mdi-upload btn-icon-prepend"></i> Sosyal Medya Düzenle
                    </button>
                    <a href="/SocialMedia/Index/" class="btn btn-dark btn-icon-text">
                        <i class="mdi mdi-reload btn-icon-prepend"></i> İptal Et
                    </a>
                </form>
            }

        </div>
    </div>
</div>

