@using EntityLayer.Concrete
@model List<SocialMedia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sosyal Medya</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.SocialMediaID</th>
                                <td>@item.Name</td>
                                <td>
                                    <a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaID" class="btn btn-outline-danger btn-icon-text">
                                        <i class="mdi mdi-alert btn-icon-prepend"></i> Sil
                                    </a>
                                </td>

                                <td>
                                    <a href="/SocialMedia/EditSocialMedia/@item.SocialMediaID" class="btn btn-outline-success btn-icon-text">
                                        <i class="mdi mdi-upload btn-icon-prepend"></i> Düzenle
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                <br />
                <a href="/SocialMedia/AddSocialMedia/" class="btn btn-outline-primary btn-icon-text">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Yeni Sosyal Medya Ekle
                </a>

            </div>
        </div>
    </div>
</div>

